<div id="chat-container">
<h1>CHATS</h1>

<p id="status">Waiting for a user to chat to...</p>

<div id="history"></div>
<div id="chatbar">
  <input type="text" id="chattext" name="chattext" placeholder="Say something special!">
  <input id="chatsubmit" type="submit" value="Nothing to send">
  <p>Total time left: <span id="total-time">--:--<span></p>
<p>Time left to send next message: <span id="message-time">--:--<span></p>
</div>
</div>